<h1>Veuillez confirmer la création de votre compte</h1>

<p>
    Merci de bien vouloir cliquer sur le lien ci-dessous afin d'effectuer une confirmation d'email : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>