<h1>Veuillez confirmer la création de votre compte grâce à votre adresse email</h1>

<p>
    Merci de bien vouloir cliquer sur le lien ci-dessous afin d'effectuer une confirmation d'email : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>