<div class="card footer" style="width: 100%;">
    <div class="card-body">
            <ul class="mb-0">
                <li><a style="font-size: larger;" data-toggle="tooltip" data-placement="bottom" title="Accéder à la page facebook" target="blank" href="#"><i class="fab fa-facebook"></i></a></li>
                <li><i class="fas fa-phone-square-alt"></i> XX.XX.XX.XX.XX</li>
                <li><a data-toggle="tooltip" data-placement="bottom" title="Remonter en haut de la page" href="#top"><i class="fas fa-angle-double-up"></i></a></li>
                <li><a href="#"><i class="fas fa-file-contract"></i> Mentions Légales</a></li>
                <li><a data-toggle="tooltip" data-placement="bottom" title="Accéder à la page d'administration du site" href="{{ path('admin') }}"><i class="fas fa-user-cog"></i> Admin.</a></li>
            </ul>
            <div class="footer_signature"><small>Réalisé avec <i style="margin-left: 1rem; margin-right: 1rem;" class="fas fa-heart"></i> par <a data-toggle="tooltip" data-placement="bottom" title="En découvrir plus sur le développeur du site" target="blank" href="https://www.linkedin.com/in/milan-forrat-09043925"> Milan Forrat</a></small></div>
    </div>
</div>
