{% extends 'base.html.twig' %}
{% block title %}Résultats de la Recherche - La Fringuerie Française{% endblock %}
{% block body %}
                <h3 class="main-header_h3">Résultats de la recherche :</h3>
                <hr>
                <div class="grid">
                    {% if productsFiltered %}
                    {% for product in productsFiltered %}
                        {% include 'product/_card.html.twig'%}
                    {% endfor %}
                    {% endif %}
                </div>
                <hr>
{% endblock %}
