{% extends 'base.html.twig' %}
{% block title %}Résultats de la Recherche{% endblock %}
{% block body %}
    {% if app.request.query.get('search', null) %}
                <h3 class="main-header_h3">Résultats de la recherche :</h3>
                <hr>
                <div class="grid">
                    {% for product in products %}
                        {% include 'product/_card.html.twig' with {product: product} only %}
                    {% endfor %}
                </div>
                <hr>
    {% endif %}
{% endblock %}
