/*     GENERAL      */
body{
  background: url(../images/background-3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: lightgoldenrodyellow;
  text-shadow: black 1px 0 10px;
}
.container{
  margin: 0 3vw 0 3vw;
}
.grid-container{
  display: grid;
  grid-gap: 15px;
  padding: 10px;
  grid-template-areas:
  'header header header header header header'
  'menu main main main main main'
  'menu footer footer footer footer footer';
}
@media(max-width: 580px){
  .grid-container{
    display: flex !important;
    flex-direction: column !important;
  }
}
a{
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5);
  color: lightgoldenrodyellow !important;
}
a:hover{
  color: rgb(196, 232, 255) !important;
  transition: 0.5s;
}
/*     HEADER      */
.top-header{
  text-align: center;
  grid-area: header;
}
.top-header_title{
  margin: 2rem auto 1rem auto;
  font-style: italic;
  font-family: 'Fugaz One';
  font-size: 5vw;
  text-shadow: black 1px 0 10px;
}
/*      NAVBAR        */
nav{
  margin-bottom: 2rem;
}
.navbar-toggler-icon{
  color: lightgoldenrodyellow;
}
.navbar-nav{
    margin-left: 2rem;
}
.navbar{
  background-color: rgb(3, 7, 10, 0.6);
  text-shadow: rgb(2, 2, 2) 1px 0 10px;
}
.navbar .dropdown li{
  background-color: rgba(4, 52, 87, 0.89);
}
.navbar .dropdown li a{
  text-shadow: black 1px 0 10px;
  color: white !important;
}
.navbar .dropdown li a:hover{
  background-color: rgba(4, 12, 17, 0.89);
}
.navbar .dropdown ul{
  padding: 0.8rem;
  background-color: rgba(4, 52, 87, 0.89);
}
.top-header_main-title{
  margin-bottom: 1.5rem;
}
/*     CARDS      */
.main{
  grid-area: main;
}
/*  NOTE: when using media querries, it's important to put them in the ASC resolution order or else the code won't work the way you want due to vertical lecture */
@media(min-width: 400px){
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media(min-width: 800px){
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
@media(min-width: 1500px){
  .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}
@media(min-width: 1750px){
  .grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }
}
.card-name{
  text-align: center;
  color: lightgoldenrodyellow;
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.card-price_number{
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(196, 232, 255);
  display: flex;
  justify-content: flex-end;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.card-text{
  color: lightgoldenrodyellow;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.card{
  opacity: 0.8;
  background-color: #303030;
}
.card-promo_text{
  font-size: smaller;
  padding-top: 0.3rem;
}
.card-price{
  display: flex;
  justify-content: flex-end;

}
.card-categories{
  color: rgb(141, 187, 201);
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
/*     FILTERS      */
.menu{
  grid-area: menu;
}/*
@media(min-width: 992px){
  .navbar{
  display: block;
  position: sticky;
  top: 20px;
  }
}*/
.filter-categories_title, .filter-prix_title, .filter-promo_title{
  color: lightgoldenrodyellow;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  margin: 1rem; 
}
.filter-categories_input, .filter-promo_input{ 
  color: lightgoldenrodyellow;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
.form-group {
  color: lightgoldenrodyellow;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  margin-left: 1.5rem;
}
.filter-price-min_input, .filter-price-max_input, .filter-search_input{
  opacity: 0.9;
  margin-bottom: 0.5rem;
  background-color: rgba(4, 52, 87, 0.89);
  color: lightgoldenrodyellow;
}
.filter-price-min_input:focus, .filter-price-max_input:focus, .filter-search_input:focus{
  background-color: rgba(4, 52, 87, 0.89);
  color: lightgoldenrodyellow;
}

.filter-price-min_input::placeholder, .filter-price-max_input::placeholder, .filter-search_input::placeholder{
  color: lightgoldenrodyellow !important;
}
.filter-search_input{
  margin-bottom: 1.5rem;
}
.submit-buttons{
  display: flex;
}
.submit-buttons_filter{
  width: 50%;
  margin: 0.2rem
}
.submit-buttons_reset{
  width: 50%;
  margin: 0.2rem
}
/*    PROFILE     */
.profile{
  color: lightgoldenrodyellow;
}
.profile-ul{
  list-style: none;
}
.profile_hr{
  height: 5px !important;
}
/* PROFILE LOGIN */
.profile-login{
  margin: auto;
  color: lightgoldenrodyellow;
}
.profile-login-password_input{
  width: 15rem;
}
.profile-login-email_input{
  width: 25rem;
  margin-bottom: 0.5rem;
}
.profile-login-email_label, .profile-login-password_label{
  color: lightgoldenrodyellow;
}
.profile-login-submit_input{
  margin-top: 1rem;
}
.profile-login-reset-password_input{
  margin-top: 1rem;
  margin-left: 0.5rem;
}
/*   PROFILE REGISTER     */ 
.profile-register{
  margin: auto;
  color: lightgoldenrodyellow;
}
.profile-register-submit_input{
  margin-top: 1rem;
  margin-left: 1.6rem;
}
.profile-register input{
  width: 25rem;
  margin-bottom: 0.5rem;
}
/*        FOOTER         */
.footer{
  background-color: rgb(3, 7, 10, 0.6);
  margin-top: 2rem;
}
.footer li{
  color: lightgoldenrodyellow;
  list-style: none;
}
.footer a{
  color: lightgoldenrodyellow;
}
.footer ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_signature{
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-top: 1rem;
  color: lightgoldenrodyellow;
}
/*        MAIN      */
.main-header_h1{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-shadow: black 1px 0 10px;
}
.main-header_h3{
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  text-shadow: black 1px 0 10px;
}
/*    RESET PASSWORD SEND EMAIL      */
.reset-password-send-email_form{
  margin: 3rem auto;
}
.reset-password-send-email_submit{
  margin-left: 3rem;
}
  .reset-password-send-email_text{
  text-align: center;
  margin: 2rem auto;
}
@media(min-width: 800px){
  .reset-password-send-email_form input{
    width: 25rem;
  }
}
.reset-password-send-email_form input{
  background-color: rgb(3, 7, 10, 0.6);
}
.reset-password-send-email_form input:focus{
  background-color: rgb(3, 7, 10, 0.6);
}
/*      RESET PASSWORD EMAIL SENT     */
.reset-password-email-sent_text{
  text-align: center;
}