/*     GENERAL      */
body{
  background-image: url(../images/background.jpg);
}
a{
    text-decoration: underline;
    color: black;
    text-decoration-color: rgba(255, 255, 255, 0.5);
}
a:hover{
    color: rgb(196, 232, 255);
    transition: 0.5s;
}
/*     HEADER      */
.top-header{
    text-align: center;
}
.top-header_title{
    margin: 2rem auto 1rem auto;
    font-style: italic;
    font-family: 'Fugaz One';
    font-size: 5vw;
    text-shadow: lightgoldenrodyellow 1px 0 10px;
}
.top-header_credits{
    display: flex;
    justify-content: flex-end;
    margin-right: 15vw;
    margin-bottom: 2rem;
    font-style: italic;
}
.top-header_credits a{
    margin-left: 0.5rem;
    text-shadow: rgb(255, 255, 255) 1px 0 15px;
}
/*     CARDS      */
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.card-name{
  text-align: center;
  color: lightgoldenrodyellow;
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.card-price{
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(196, 232, 255);
    display: flex;
    justify-content: flex-end;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.card-text{
  color: lightgoldenrodyellow;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.card{
  opacity: 0.8;
  background-color: #303030;
}

/*     FILTERS      */
.filter{
  display: block;
  position: sticky;
  top: 20px
}