<nav class="navbar navbar-expand-xl navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" style="margin-bottom: 0.5rem;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-column" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-product-filter">
        {{ form(formFilter) }}
      </div>
      <hr>
      <div>
        {{ form(formCategoryFilter) }}
      </div>
    </div>
  </div>
</nav>




