{% extends 'base.html.twig' %}
{% block title %}Tous nos produits{% endblock %}

{% block body %}
    <div class="grid-container">
        <div class="menu">
            {% include 'product/_filter.html.twig' with {formFilter: formFilter} only %}
        </div>
        <div class="main">
            <div class="grid">
                {% for product in products %}
                    {% include 'product/_card.html.twig' with {product: product} only %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
