<div class="top-header">
    <div class="sign">
        <h1 class="top-header_title fast-flicker"><span class="fast-flicker">E-</span>comm<span class="flicker">erce</span> Module</h1>
    </div>
    <h6 class="top-header_credits">de <a target="blank" href="#"> Milan FORRAT</a></h6>
</div>