<div class="top-header">
    <div class="sign">
        <h1 class="top-header_title">E-commerce Module</h1>
    </div>
    <h6 class="top-header_credits">de <a target="blank" href="#"> Milan FORRAT</a></h6>
</div>