{% extends 'base.html.twig' %}
{% block body %}
<title>{% block title %}Mentions Légales{% endblock %}</title>
<main>
    <section class="container-fluid px-2">   
        <div class="card col-xl-12 col-sm-12" style="padding: 0;">
            <h4 class="card-header"><i class="fas fa-balance-scale"></i> Mentions Légales :                
            </h4>
            <div class="card-body mentions_legales">
                <h5 class="card-title"><i class="fas fa-edit"></i> Informations sur les contenus :</h5>
                    <br>
                <p>
                    <span style="margin-left: 0.7rem;"><i class="fas fa-tasks"></i> Responsable des publications : Milan FORRAT</span>
                    <br>
                    <br>
                    <span style="margin-left: 0.7rem;"><i class="fas fa-lock-open"></i> Propriétée des images : Personnelles ou libres de droits</span>
                    <hr>
                    <h5 class="card-title"><i class="fas fa-info-circle"></i> Informations générales</h5>
                    <span style="margin-left: 0.7rem;"><i class="far fa-envelope"></i> Email : milan.forrat@gmail.com</span>
                    <br>
                    <br>
                    <span style="margin-left: 0.7rem;"><i class="fas fa-phone-square-alt"></i> Téléphone : (+33) 06.14.22.29.86</span>                  
                    <br>
                    <br>
                    <span style="margin-left: 0.7rem;"><i class="fas fa-map-marked-alt"></i> Adresse :</span>
                    <br>
                    <span style="margin-left: 1.5rem;">Milan FORRAT<br></span>
                    <span style="margin-left: 1.5rem;">360 Chemin du château<br></span>
                    <span style="margin-left: 1.5rem;">01320 Chalamont, Ain, FRANCE</span>
                    <hr>
                    <h5 class="card-title"><i class="fas fa-file-contract"></i> Informations professionnelles :</h5>
                    <span style="margin-left: 0.7rem;"><i class="fas fa-address-card"></i> Numéro SIRET : N/A</span>
                    <br>
                    <hr>
                    <h5 class="card-title"><i class="fas fa-database"></i> Informations sur l'hébergeur du site :</h5>
                    <span style="margin-left: 0.7rem;"><i class="fas fa-globe"></i> Site professionnel : <a target="blank" href="https://www.ovh.com/fr/">OVH</a></span>
                    <br>
                    <hr>
                    <h5 class="card-title"><i class="fas fa-laptop-code"></i> Développeur web du site :</h5>
                    <span style="margin-left: 0.7rem;"><i class="fab fa-linkedin"></i> LinkedIn : <a target="blank" href="https://www.linkedin.com/in/milan-forrat-09043925">Milan Forrat</a></span>
                    <br>
                    <span style="margin-left: 0.7rem;"><i class="fas fa-code"></i> Site Pro : <a target="blank" href="http://dev-web.milan-forrat.com/">dev-web.milan-forrat.com</a></span>
                </p>
            </div>
        </div>
    </section>
</main>
{% endblock %}
